<!-- Main Container -->
<main id="main-container" style="min-height: 82px;">
                <!-- Classic Features #1 -->
                <div class="bg-white">
                    <section class="content content-boxed">
                        <!-- Section Content -->
                        <div class="row items-push-3x push-50-t nice-copy">
                            <div class="col-xs-6">
                                <div class="text-center push-30">
                                    <a href="#/course">
										<span class="item item-2x item-circle border">
											<i class="si si-rocket"></i>
										</span>
									</a>
                                </div>
                                <h3 class="h5 font-w600 text-uppercase text-center push-10">学习</h3>
                                
                            </div>
                            <div class="col-xs-6">
                                <div class="text-center push">
                                    <a href="#/quiz">
										<span class="item item-2x item-circle border">
											<i class="si si-screen-smartphone"></i>
										</span>
									</a>
                                </div>
                                <h3 class="h5 font-w600 text-uppercase text-center push-10">考试</h3>
                
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Classic Features #1 -->         
</main>
<!-- END Main Container -->

          