
<main id="main-container" style="min-height: 82px;">    
    <!-- Log In Form -->
    <div class="bg-white">
        <section class="content content-boxed">
            <!-- Section Content -->
            <div class="row items-push push-50-t push-30">
                            <div class="col-md-6 col-md-offset-3">
									<div class="form-group">
                                        <div class="col-xs-12">
											<div class="form-material form-material-primary">
												{{ message }}
											</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="form-material form-material-primary">
                                                <input type="text" name="frontend-login-username" id="frontend-login-username" class="form-control">
                                                <label for="frontend-login-username">你的身份证号码是：</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                            <button type="button" ng-click="submitAnswer()" class="btn btn-block btn-primary"><i class="fa fa-arrow-right pull-right"></i> 提交</button>
                                        </div>
                                    </div>
                              
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Log In Form -->

            
            </main>